<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table border="1">
	<tr>
		<td>Nama Film</td>
		<td>Rating Film</td>
	</tr>
	<tr th:each="bioskopModel:${bioskopModelList}">
		<td><a th:text ="${bioskopModel.namaFilm}"></a></td>
		<td><a th:text ="${bioskopModel.ratingFilm}"></a></td>
	</tr>
</table>
</body>
</html>