<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Tambah Motor</h1>
		<table border="1">
			<tr>
				<td>Kode Motor</td> 
				<td>Nama Motor</td> 
				<td>Harga Motor</td> 
			</tr>
			<tr th:each="motorModel:${motorModelList}">
				<td><a th:text="${motorModel.kodeMotor}"></td>
				<td><a th:text="${motorModel.namaMotor}"></td>
				<td><a th:text="${motorModel.hargaMotor}"></td>
			</tr>
		</table>
</body>
</html>