<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Pendaftaran Cpns</h1>
	<a th:text="${hasil_nama}"></a>
	<br/>
	<input type="text" th:value="${hasil_nama}"/>
	<br/>
	<a th:text="${hasil_tanggal}"></a>
	<br/>
	<a th:text="${hasil_kota}"></a>
	<br/>
	<a th:text="${hasil_jk}"></a>
	<br/>
	<a th:text="${hasil_alamat}"></a>
</body>
</html>