<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Tampil Guru List</h1>
	<table border="1">
	<tr>
	<td>Kode Guru</td> 
	<td>Nama Guru</td> 
	<td>Jurusan Guru</td> 
	</tr>
	<tr th:each="guruModel:${guruModelList}">
	<td><a th:text="${guruModel.kodeGuru}"></a></td>
	<td><a th:text="${guruModel.namaGuru}"></a></td>
	<td><a th:text="${guruModel.jurusanGuru}"></a></td>
	</tr>
	</table> 
</html>