<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Menu Tambah Mobil</h1>
	<table>
	<tr>
	<td>Kode Mobil</td> 
	<td>Nama Mobil</td> 
	<td>Harga Mobil</td> 
	</tr>
	<tr th:each="mobilModel:${mobilModelList}">
	<td><a th:text="${mobilModel.kodeMobil}"></a></td>
	<td><a th:text="${mobilModel.namaMobil}"></a></td>
	<td><a th:text="${mobilModel.hargaMobil}"></a></td>
	</tr>
	</table> 
</html>