<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hasil Pendaftaran Trisakti</h1>
	<table>
			<tr>
				<td>Nama Lengkap</td>
				<td> : <a th:text="${trisakti_nama}"></a></td>		
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td> : <a th:text="${trisakti_tempat}"></a></td>		
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td> : <a th:text="${trisakti_tanggal}"></a></td>		
			</tr>
			<tr>
				<td>Jenis Kelamin</td>
				<td> : <a th:text="${trisakti_jk}"></a></td>		
			</tr>
			<tr>
				<td>Agama</td>
				<td> : <a th:text="${trisakti_agama}"></a></td>		
			</tr>
			<tr>
				<td>Telp (dgn kode area)</td>
				<td> : <a th:text="${trisakti_telp}"></a></td>		
			</tr>
			<tr>
				<td>Handphone</td>
				<td> : <a th:text="${trisakti_hp}"></a></td>		
			</tr>
			<tr>
				<td>Kewarganegaraan</td>
				<td> : <a th:text="${trisakti_kewarganegaraan}"></a></td>		
			</tr>	
			<tr>
				<td>NIK</td>
				<td> : <a th:text="${trisakti_nik}"></a></td>		
			</tr>
			<tr>
				<td>Golongan Darah</td>
				<td> : <a th:text="${trisakti_goldarah}"></a></td>		
			</tr>
			<tr>
				<td>Anak Ke</td>
				<td> : <a th:text="${trisakti_anakke}"></a></td>		
			</tr>
			<tr>
				<td>Status Menikah</td>
				<td> : <a th:text="${trisakti_status}"></td>		
			</tr>
		</table>	
</body>
</html>