<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<h1>DAFTAR DOSEN</h1>
	<div>
		<form action="cari_usia" method="post">
			<tr align="left">
				<td colspan="4"><button class="btn btn-primary" type="submit">CARI DOSEN</button></center></td>
			</tr>
		</form>
	</div>
<table border="1" class="table table-hover ">	
	<thead class="thead-dark">
	<tr>
		<th><font class="font-weight-bold" color="yellow">Nama Dosen</font></th>
		<th><font class="font-weight-bold" color="yellow">Usia Dosen</font></th>
		<th><center><font class="font-weight-bold" color="yellow">Update</font></center></th>
		<th><center><font class="font-weight-bold" color="yellow">Delete</font></center></th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="dosenModel:${dosenModelList}">
		<th><a th:text ="${dosenModel.namaDosen}"></a></th>
		<th><a th:text ="${dosenModel.usiaDosen}"></a></th>
		<th><center><a th:href="@{ubah_dosen?(namaID=${dosenModel.namaDosen})}">link ubah</a></center></th>
		<th><center><a th:href="@{hapus_dosen?(namaID=${dosenModel.namaDosen})}">link delete</a></center></th>
	</tr>
	</tbody>
	<tfoot>
	<div>
		<form action="tambah_dosen" method="post">
			<tr align="right">
				<td colspan="4"><button class="btn btn-primary" type="submit">TAMBAH</button></center></td>
			</tr>
		</form>
	</div>
	</tfoot>
</table>

</div>
</body>
</html>