<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>Cari Usia Dosen</h1>
<form th:action="proses_cari_usia" method="post">
AWALAN NAMA :
<select name="awalan_nama">
	<option > --Pilih-- </option>
	<option value="a"> a </option>
	<option value="b"> b </option>
	<option value="c"> c </option>
	<option value="d"> d </option>
	<option value="e"> e </option>
	<option value="f"> f </option>
	<option value="g"> g </option>
	<option value="h"> h </option>
	<option value="i"> i </option>
	<option value="j"> j </option>
	<option value="k"> k </option>
	<option value="l"> l </option>
	<option value="m"> m </option>
	<option value="n"> n </option>
	<option value="o"> o </option>
	<option value="p"> p </option>
	<option value="q"> q </option>
	<option value="r"> r </option>
	<option value="s"> s </option>
	<option value="t"> t </option>
	<option value="u"> u </option>
	<option value="v"> v </option>
	<option value="w"> w </option>
	<option value="x"> x </option>
	<option value="y"> y </option>
	<option value="z"> z </option>
</select>
USIA : 
<select name="operator">
	<option > --Pilih-- </option>
	<option value="="> = </option>
	<option value=">"> > </option>
	<option value="<"> < </option>
	<option value=">="> >= </option>
	<option value="<="> <= </option>
	<option value="!="> != </option>
</select>
<input type="text" name="katakunci_usia"/>
<button type="submit">Cari</button>
</form>

<table border="1">
	<tr>
		<td>Nama Dosen</td>
		<td>Usia Dosen</td>
	</tr>
	<tr th:each="dosenModel:${dosenModelList}">
		<td><a th:text ="${dosenModel.namaDosen}"></a></td>
		<td><a th:text ="${dosenModel.usiaDosen}"></a></td>
	</tr>
</table>
</body>
</html>