<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Satu Dosen</h1>
	<a th:text="${dosenModel.namaDosen}"></a><br/>
	<a th:text="${dosenModel.usiaDosen}"></a>

</body>
</html>